@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
    display: flex;
    justify-content: flex-start;
    height: 95vh;
    padding: 0;
    background-color: #181818;
}

.game_box {
    font-family: 'Silkscreen', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30vw;
    padding: 3%;
    background-color: rgb(25, 39, 52);
    border: 2px solid cornflowerblue;
    border-radius: 10px;
}

.fight_panel {
    height: 65%;
}

.animation_panel {
    height: 90%;
    padding: 3%;
    border-radius: 10px;
    border: 4px solid rgb(138, 169, 224);
    background-color: rgb(52, 77, 125);
    color: lightgray;
}

.animation_panel_on {
    background-color: cornflowerblue;
    box-shadow: 0px 10px 40px #555;
}

img.heart {
    filter: grayscale();
}



.lives_panel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    padding-bottom: 2%;
}

.result {
    width: 100%;
    height: 85%;
}

.result>p {
    text-align: center;
    margin-top: 35%;
    font-size: 130%;
}

.player_lives,
.npc_lives {
    display: flex;
    width: 48%;
    height: 100%;
    flex-direction: column-reverse;
}

.npc_lives {
    align-items: flex-end;
}

.hearts {
    display: flex;
    justify-content: space-evenly;
    width: 52%;
}

.heart1,
.heart2,
.heart3 {
    width: 28%;
}

.heart1>img,
.heart2>img,
.heart3>img {
    width: 100%;
    height: auto;
}

.shake {
    animation: shake 0.1s;
    animation-iteration-count: 3;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.weapons_panel {
    display: flex;
    justify-content: space-around;
}

.weapons_panel>button {
    filter: grayscale();
}

button.rock,
button.paper,
button.scissors {
    min-width: 20%;
    aspect-ratio: 1;
    background-size: cover;
    border-radius: 100%;
}

button.rock {
    background-image: url('./img/rock.png');
    box-shadow: 0px 0px 5px #EF5480;
    /*box-shadow: 0px 5px 60px rgb(255, 0, 102);*/
}

button.paper {
    background-image: url('./img/paper.png');
    box-shadow: 0px 0px 5px #ffcc00;
}

button.scissors {
    background-image: url('./img/scissors.png');
    box-shadow: 0px 0px 5px #74DAE2;
}

button.start {
    align-self: center;
    margin-right: 11.5%;
    margin-left: 11.5%;
    width: 8vw;
    height: 8vw;
    border-radius: 100%;
    border: 10px solid rgb(0, 67, 0);
    background-color: #198700;
    box-shadow: 0px 0px 5px #82f95e;
}

/*button:active {
    border: 6px solid #601155;
}*/

button.start:active {
    border: 10px solid rgb(0, 255, 0);
}